.growth {
    background-color: #4CAF50;
    padding: 20px;
}

.ops {
    background-color: #2196F3;
    padding: 20px;
}

.tech-qa {
    background-color: #03A9F4;
    padding: 20px;
}

.lab {
    background-color: #FF9800;
    padding: 20px;
}

.terminal-animation {
    position: relative;
}

#cursor {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#cursor::before, #cursor::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #fff;
    top: 0;
}